<div data-ng-controller="accueilController">
  <div class="jumbotron" ng-show="!connected">
    <h1>Bonjour !</h1>
    <p>Wech ma gueule ! Ce site c'est de la bale ! Si tu veux être branché et tout INSCRIT-TOI !</p>
    <p><a class="btn btn-primary btn-lg" href="" ng-click="register()" role="button">Inscription</a></p>
  </div>
  <div class="row" >
    <div class="col-lg-3 col-md-4 col-xs-6" data-ng-repeat="photo in photos track by $index">
      <thumbnail photo = "photo"></thumbnail>
    </div>
  </div>
</div>
