<div data-ng-controller="accueilController">
  <div class="jumbotron" ng-hide="connected || !welcome">
    <h1>Bonjour !</h1>
    <p>Ce site est un prototype en accès anticipé pour des raisons de tests! Si vous avez le temps, pourriez-vous le tester et nous envoyer votre feedback sur cette adresse marwen.azouzi@gmail.com</p>
    <p>Sinon ci-desous le bouton pour s'inscrire. Bonne navigation !</p>
    <p>
      <a class="btn btn-primary btn-lg" href="" ng-click="register()" role="button">S'inscrire</a>
      <a class="btn btn-info btn-lg" href="" ng-click="hideWelcome()" role="button">Plus tard</a>
    </p>
  </div>
  <p ng-if="search.searching">
    Recherche en cours...
  </p>
  <p ng-if="search.terms && !search.searching && photos.length">
    {{ photos.length }} résultat(s) trouvé(s) pour <strong>{{ search.terms }}</strong>
  </p>
  <p ng-if="search.terms && !search.searching && !photos.length">
    Aucun résultat pour la recherche <strong>{{ search.terms }}</strong>. Essayez une autre recherche.
  </p>
  </p>
  <div class="row" >
    <div class="col-lg-3 col-md-4 col-xs-6" data-ng-repeat="photo in photos track by $index">
      <thumbnail photo = "photo"></thumbnail>
    </div>
  </div>
</div>
