<div data-ng-controller="followController">

	<h1>Je suis abonn&eacute;(e) &agrave;: </h1>
	<table class="table table-striped">
  <thead>
    <tr>
      <th>ID vendeur</th>
      <th>Pr&eacute;nom</th>
      <th>Pseudo</th>
    </tr>
  </thead>
  <tbody> 
    <tr ng-repeat="user in users track by $index">
      <td> <a href ng-click="goToSellerPage(user.memberID)">{{ user.memberID }}</a></td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.login }}</td>
    </tr>
  </tbody>
</table>
</div>