*/target/*
.idea
.classpath
.settings
.project
.tern-project
node_modules/
dist.js
*.log
*.iml
.buildpath
*.swp
*.ipr
*.iws
[0-9]*.png

ecom/ecom-ejb/src/test/resources/arquillian.xml
ecom/ecom-ejb/src/main/resources/META-INF/persistence.xml
nodejs/config.json