<div class="thumbnail">

    <div class="caption">

        <div class="headerCaption">
            <div class="floatLeft">
                <p class="glyphicon glyphicon-ban-circle redSignalIcon"></p>
            </div>
            <div class="floatRight">
                <div>
                  <p class="glyphicon glyphicon-eye-open borderRight">{{photo.views}}</p>
                  <p class="glyphicon glyphicon-thumbs-up" >{{photo.likes}}</p>
                </div>
            </div>
        </div>

        <div class="centerCaption">
            <span class="fa fa-search-plus fa-5x cursorPointer" data-ng-click="details(photo.photoID)" ></span>
        </div>

        <div class="footerCaption">
            <div class="floatLeft">
                <span class="glyphicon glyphicon-euro floatLeft" data-ng-click="" >{{photo.price}}</span>
                <add-to-cart-component photo="photo" class="floatRight"></add-to-cart-component>
            </div>
            <div class="floatRight">
            <span class="fa fa-star cursorPointer borderRight" data-ng-class="{colorYellow: photo.wishlisted == true}" data-ng-click="(photo.wishlisted == true) ? unwish(photo.photoID) : wish(photo.photoID)" >
            </span>

            <span class="fa fa-thumbs-up cursorPointer" data-ng-class="{colorBlue: photo.liked == true}" data-ng-click="(photo.liked == true) ? unlike(photo.photoID) :like(photo.photoID)" alt="Like">
            </span>
            </div>
        </div>

    </div>

    <img class="image" data-ng-src="{{photo.thumbnail}}" alt="{{photo.name}}">

</div>