<div class="thumbnail">

    <div class="caption cursorPointer">

        <div class="headerCaption BGField">
            <div class="floatLeft cursorPointer">
                <span class="fa fa-flag redSignalIcon brightOnHover" title="Signaler cette photo" data-ng-click="flag(photo.photoID)" data-ng-class="{colorRed: photo.flagged == true}"></span>
            </div>
            <div class="floatRight">
                <div>
                  <span class="fa fa-eye marginRight5px" title="Nombre de vues">{{photo.views}}</span>
                  <span class="fa fa-thumbs-o-up" title="Nombre de likes">{{photo.likes}}</span>
                </div>
            </div>
        </div>

        <div class="centerCaption" data-ng-click="details(photo.photoID)">
        </div>

        <!--<div class="centerCaption">
            <span class="fa fa-search-plus fa-5x cursorPointer" data-ng-click="details(photo.photoID)" ></span>
        </div>-->

        <div class="footerCaption BGField">
            <div class="floatLeft">
                <add-to-cart-component photo="photo" class="floatRight"></add-to-cart-component>
            </div>
            <div class="floatRight">
                <span class="fa fa-heart cursorPointer marginRight5px brightOnHover" data-ng-class="{colorRed: photo.wishlisted == true}" data-ng-click="(photo.wishlisted == true) ? unwish(photo.photoID) : wish(photo.photoID)" title="Ajouter aux favories" >
                </span>

                <span class="fa fa-thumbs-up cursorPointer brightOnHover" data-ng-class="{colorBlue: photo.liked == true}" data-ng-click="(photo.liked == true) ? unlike(photo.photoID) :like(photo.photoID)" title="Liker cette photo">
                </span>
            </div>
        </div>

    </div>

    <img class="image" data-ng-src="{{photo.thumbnail}}" title="{{photo.name}}">

</div>
