<div data-ng-controller="detailsCartController">
    <h3  data-ng-show="!panierVide" >Mon panier</h3>
    <h3  data-ng-show="panierVide" >Mon panier est vide.</h3>
    <hr>
    <div data-ng-show="!panierVide" ng-repeat="photo in cart">
        <div class="row">
            <div class="col-md-4">
                <a href=""  class="thumbnail">
                    <img ng-click="goToPhoto(photo.photoID)" ng-src="{{photo.thumbnail}}" alt="{{photo.name}}" >
                </a>
            </div>
            <div class="col-md-4 textAlignRight">
                Prix unitaire : {{ photo.price }} <i class="fa fa-euro"></i>
            </div>
            <div class="col-md-4 textAlignRight">
                <add-to-cart-component photo="photo"></add-to-cart-component>
            </div>
        </div>
        <hr>
    </div>

    <div data-ng-show="!panierVide"  class="panel panel-default">

        <div class="panel-heading"><h4>Récapitulatif</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    Total de {{ cart.length }} article(s)
                </div>
                <div class="col-md-4 textAlignRight">
                    Prix total : {{ totalPrice }} <i class="fa fa-euro"></i>
                </div>
                <div class="col-md-4 textAlignRight">
                    <button data-ng-click="clearCart()" type="button" class="btn btn-warning btn-circle btn-xl" >
                        <i class="glyphicon glyphicon-remove"> Vider panier</i>
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div class="textAlignCenter">
            <button data-ng-click="validateCart()" type="button" class="btn btn-info btn-circle btn-xl">
                <i class="glyphicon glyphicon-ok"> Valider panier</i>
            </button>
        </div>
        <br>
    </div>

</div>
