<div class="fullWidth textAlignCenter overflowHidden">
    <div class="inline-block">
        <h2>L'équipe Shopics</h2>
        <h4>"Dream Team"</h4>
        <br>
        <p>
            Adrien FAURE - "Terminator"
            <br>
            adrien.faure2@gmail.com
        </p>
        <br>
        <div class=divider"></div>
        <br>
        <p>
            Marwen AZOUZI - "Mr Elastic"
            <br>
            marwen.azouzi@gmail.com
        </p>
        <br>
        <div class=divider"></div>
        <br>
        <p>
            Ismaël ZAKARI TOURE - "Smile"
            <br>
            ismael.zakari.toure@gmail.com
        </p>
        <br>
        <div class=divider"></div>
        <br>
        <p>
            Angélica OLVERA BADILLO - "NG"
            <br>
            aolvera163@gmail.com
        </p>
        <br>
        <div class=divider"></div>
        <br>
        <p>
            Elie ATTIGUI - "Sys Admin"
            <br>
            elie.at@free.fr
        </p>


    </div>

</div>