
<form class="css-form" name="loginform" novalidate
	ng-submit="loginform.$valid && submit()">

	<div class="form-group">
		<label for="inputLogin">Pseudo</label> <input
			required ng-model="user.login" type="text" class="form-control "
			id="inputLogin" placeholder="Pseudo" focus-on-load>
	</div>

	<div class="form-group">
		<label for="inputFirstName">Nom</label> <input
			ng-model="user.firstName" type="text" class="form-control"
			id="inputFirstName" placeholder="Nom">
	</div>

	<div class="form-group">
		<label for="inputLastname">Prénom</label> <input
			ng-model="user.lastName" type="text" class="form-control"
			id="inputLastname" placeholder="Prénom">
	</div>

	<div class="form-group">
		<label for="inputEmail">Adresse mail</label> <input
			ng-model="user.email" type="text" class="form-control"
			id="inputEmail" placeholder="Adresse mail">
	</div>

	<div class="form-group">
		<label for="inputPassword">Mot de passe</label> <input required
			ng-model="user.password" type="password" class="form-control"
			id="inputPassword" placeholder="Mot de passe">
	</div>

	<div class="checkbox" ng-init="checked=false">
		<label> <input type="checkbox" data-ng-model="sellerCheckBox">
			Je souhaite ouvrir un compte vendeur
		</label>
	</div>

	<span ng-if="sellerCheckBox" class="animate-if">
		<div ng-include="sellerTemplate"></div>
	</span>

	<button type="submit" class="btn btn-default">Valider</button>

</form>