
<br>
<div class="row">

	<div class="col-xs-12 col-sm-6 textAlignCenter">

		<h3>J'ai déjà un compte</h3>
		<br>

		<div class="row">
			<div class="col-xs-0 col-sm-2">
			</div>

			<div class="col-xs-12 col-sm-8">
				<form class="css-form" name="loginform" novalidate ng-submit="loginform.$valid && logInto()">

					<div class="form-group">
						<label for="inputLogin">Login</label>
						<input required name="inputLogin" ng-model="login" type="text" class="form-control " id="inputLogin" placeholder="Pseudo" focus-on-load/>
						<div class="alert-danger" ng-messages="loginform.inputLogin.$error" role="alert" ng-show="loginform.inputLogin.$touched">
							<div ng-messages-include="error-messages"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword">Password</label>
						<input required name="password" ng-model="password" type="password" class="form-control" id="inputPassword" placeholder="Mot de passe"/>
						<div class="alert-danger" ng-messages="loginform.password.$error" role="alert" ng-show="loginform.password.$touched">
							<div ng-messages-include="error-messages"></div>
						</div>
					</div>
					<br>

					<button type="submit" class="btn btn-default" ng-disabled="loginform.$invalid">Connexion</button>
				</form>
			</div>

			<div class="col-xs-0 col-sm-2">
			</div>
		</div>

	</div>

	<div class="col-xs-12 col-sm-6 textAlignCenter vertical-divider-left">

		<h3>Je veux créer un compte</h3>
		<br>

		<div class="row">
			<div class="col-xs-0 col-sm-2">
			</div>

			<div class="col-xs-12 col-sm-8">


				<form class="css-form" name="inscriptionform" novalidate ng-submit="inscriptionform.$valid && submitInscription()">

					<div class="row">
						<div class="col-xs-12 col-md-6">
							<div class="form-group">
								<label for="inputFirstName">Prénom</label>
								<input required name="inputFirstName" ng-model="user.firstName" type="text" class="form-control" id="inputFirstName" placeholder="Prénom">
								<div class="alert-danger" ng-messages="inscriptionform.inputFirstName.$error" role="alert" ng-show="inscriptionform.inputFirstName.$touched">
								  <div ng-messages-include="error-messages"></div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="form-group">
								<label for="inputLastname">Nom</label>
								<input required name="inputLastname" ng-model="user.lastName" type="text" class="form-control" id="inputLastname" placeholder="Nom">
								<div class="alert-danger" ng-messages="inscriptionform.inputLastname.$error" role="alert" ng-show="inscriptionform.inputLastname.$touched">
								  <div ng-messages-include="error-messages"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="inputEmail">Email</label>
						<input required ng-model="user.email" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Adresse mail">
						 <div class="alert-danger" ng-messages="inscriptionform.inputEmail.$error" role="alert" ng-show="inscriptionform.inputEmail.$touched">
						    <div ng-messages-include="error-messages"></div>
						</div>
					</div>

					<div class="form-group">
						<label for="inputLoginInscription">Login</label>
						<input required name="loginInput"  ng-change="checkLogin()"  ng-model="user.login" ng-blur="checkLogin()" type="text" class="form-control " id="inputLoginInscription" placeholder="Pseudo">
						<div class="alert-danger" ng-messages="inscriptionform.loginInput.$error" role="alert" ng-show="inscriptionform.loginInput.$touched">
						    <div ng-messages-include="error-messages"></div>
						</div>
						<div role="alert" class="alert-danger" ng-show="existingLogin">Ce pseudo existe déjà</div>
					</div>
					
					<div class="form-group">
						<label for="inputPasswordInscription">Password</label>
						<input required ng-model="user.password" type="password" class="form-control" id="inputPasswordInscription" name="inputPassword" placeholder="Mot de passe" minlength='5'>
						<!-- <div role="alert" class="alert-danger" data-ng-show="!checkPass.valide">{{ checkPass.message }}</div> data-ng-blur="checkPassword()" data-ng-change="checkPassword()"-->
						<div class="alert-danger" ng-messages="inscriptionform.inputPassword.$error" role="alert" ng-show="inscriptionform.inputPassword.$touched">
						   <div ng-messages-include="error-messages"></div>
						</div>
					</div>

					<div class="checkbox" ng-init="checked=false">
						<label> <input type="checkbox" data-ng-model="sellerCheckBox">
							Je souhaite ouvrir un compte vendeur
						</label>
					</div>

					<span ng-if="sellerCheckBox" class="animate-if">
						<div ng-include="sellerTemplate"></div>
					</span>
					<br>

					<button type="submit" class="btn btn-default" ng-disabled="inscriptionform.$invalid">Créer compte</button>

				</form>

			</div>

			<div class="col-xs-0 col-sm-2">
			</div>

		</div>



	</div>

</div>
