
<div id="sidebar-wrapper" class="navbar-default magrinLeftSideBar">
    <ul class="sidebar-nav nav-pills nav-stacked">
        <li>
            <a href="#/accueil">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-home fa-stack-1x "> </i>
                <!--<i class="glyphicon glyphicon-plus floatLeft"> </i>-->
                </span>
                <div>Accueil</div>
            </a>
        </li>
        <li role="separator" class="divider"></li>


    <!-- Admin section -->
        <li ng-show="admin">
            <a  href="#/profil/stats">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-bar-chart fa-stack-1x "> </i>
                    <!--<i class="glyphicon glyphicon-plus floatLeft"> </i>-->
                </span>
                <div>Statistiques du site</div>
            </a>
        </li>
        <li ng-show="admin">
            <a href="#/profil/members">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-users fa-stack-1x "> </i>
                    <!--<i class="glyphicon glyphicon-plus floatLeft"> </i>-->
                </span>
                <div>Gestion des membres</div>
            </a>
        </li>
        <li ng-show="admin">
            <a href="#/profil/reportedPhotos">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-flag fa-stack-1x "> </i>
                    <!--<i class="glyphicon glyphicon-flag floatLeft"> </i>>-->
                </span>
                <div>Reported photos</div>
            </a>
        </li>
        <li ng-show="admin" role="separator" class="divider"></li>


    <!-- Seller section -->
        <li ng-show="!admin && seller">
            <a href="#/profil/myPage">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-user fa-stack-1x "> </i>
                    <!--<i class="glyphicon glyphicon-user floatLeft"> </i>>-->
                </span>
                <div>Ma page</div>
            </a>
        </li>
        <li ng-show="!admin && seller">
            <a href="#/profil/managePhotos">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-folder-open fa-stack-1x "> </i>
                    <!--<i class="glyphicon glyphicon-plus floatLeft"> </i>>-->
                </span>
                <div>Mes photos</div>
            </a>
        </li>
        <li ng-show="!admin && seller">
            <a href="#/profil/sellerAnalytics">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-line-chart fa-stack-1x "> </i>
                    <!--<i class="fa fa-line-chart floatLeft"></i>>-->
                </span>
                <div>Mes statistiques</div>
            </a>
        </li>
        <li ng-show="!admin && seller">
            <a href="#/profil/addPhoto">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-cloud-upload fa-stack-1x "> </i>
                    <!--<i class="glyphicon glyphicon-plus floatLeft"> </i>>-->
                </span>
                <div>Uploader une photo</div>
            </a>
        </li>
        <li ng-show="!admin && seller" role="separator" class="divider"></li>


        <!-- Simple member section -->
        <li ng-show="!admin && auth">
            <a href="#/profil/gallery">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-photo fa-stack-1x "> </i>
                    <!--<i class="fa fa-heart floatLeft"></i>>-->
                </span>
                <div>Mes photos achetées</div>
            </a>
        </li>
        <li ng-show="!admin && auth">
            <a href="#/profil/wishList">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-heart fa-stack-1x "> </i>
                    <!--<i class="fa fa-heart floatLeft"></i>>-->
                </span>
                <div>Mes photos favorites</div>
            </a>
        </li>
        <!--<li ng-show="auth">
            <a href="#/profil/myCart" >
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-shopping-cart fa-stack-1x "> </i>
                </span>
                <div>Mon panier</div>
            </a>
        </li>-->
        <li ng-show="!admin && auth">
            <a href="#/profil/following" >
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-star fa-stack-1x "> </i>
                    <!--<i class="glyphicon glyphicon-menu-right floatLeft"></i>>-->
                </span>
                <div>Mes follows</div>
            </a>
        </li>
        <!--<li ng-show="auth && !seller">
            <a href="#/profil/upgrade">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-plus fa-stack-1x "> </i>
                </span>
                <div>Devenir vendeur</div>
            </a>
        </li>-->
        <li ng-show="!admin && auth">
            <a href="#/profil/history">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-credit-card fa-stack-1x "> </i>
                    <!--<i class="glyphicon glyphicon-plus floatLeft"> </i>>-->
                </span>
                <div>Mes commandes</div>
            </a>
        </li>
        <li ng-show="!admin && auth" role="separator" class="divider"></li>



    <!-- Visitor section -->
        <li ng-show="!admin && auth">
            <a href="#/profil/details">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-cog fa-stack-1x "> </i>
                    <!--<i class="glyphicon glyphicon-home floatLeft"></i>>-->
                </span>
                <div>Mon compte</div>
            </a>
        </li>
        <li ng-show="!admin">
            <a href="#/contactUs" >
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-envelope-o fa-stack-1x "> </i>
                    <!--<i class="glyphicon glyphicon-envelope floatLeft"></i>-->
                </span>
                <div>Nous contacter</div>
            </a>
        </li>
        <!-- <li role="separator" class="divider"></li> -->

    </ul>
</div><!-- /#sidebar-wrapper -->