<ul class="nav nav-sidebar">
    <li>
        <a href="#/accueil">Accueil</a>
    </li>
</ul>


<!-- Admin section -->
<ul class="nav nav-sidebar" ng-show="admin">
    <li>
        <a href="#/profil/stats">
            <i class="glyphicon glyphicon-plus"> </i>
            Statistiques
        </a>
    </li>
    <li>
        <a href="#/profil/members">
            <i class="glyphicon glyphicon-plus"> </i>
            Manage members
        </a>
    </li>
    <li>
        <a href="#/profil/reportedPhotos">
            <i class="glyphicon glyphicon-flag"> </i>
            Reported photos
        </a>
    </li>
	<li role="separator" class="divider"></li>
</ul>


<!-- Seller section -->
<ul ng-show="seller" class="nav nav-sidebar">
    <li>
        <a href="#/profil/managePhotos"> Mes photos </a>
    </li>
    <li>
        <a href="#/profil/addPhoto">
            <i class="glyphicon glyphicon-plus"> </i>
            Ajouter une photo
        </a>
    </li>
    <li>
        <a href="#/profil/sellerAnalytics">
            <i class="fa fa-line-chart"></i>
            Mes statistiques
        </a>
    </li>
	<li role="separator" class="divider"></li>
</ul>


<!-- Simple member section -->
<ul ng-show="auth" class="nav nav-sidebar">
    <li >
        <a href="#/profil/details">
            <i class="glyphicon glyphicon-home"></i>
            Mon compte
        </a>
    </li>
    <li >
        <a href="#/profil/history">
            Mes commandes
        </a>
    </li>
    <li >
        <a href="#/profil/wishList">
          <i class="fa fa-heart"></i>
          Mes photos favorites
        </a>
    </li>
    <li>
        <a href="#/profil/myCart" >
            <i class="glyphicon glyphicon-shopping-cart"></i>
            Mon panier
        </a>
    </li>
    <li ng-show="!seller">
        <a href="#/profil/upgrade">Devenir vendeur</a>
    </li>
	<li role="separator" class="divider"></li>
</ul>


<!-- Visitor section -->
<ul ng-show="auth" class="nav nav-sidebar">
    <!-- li>
        <a href="#/profil/myCart" >
            <i class="glyphicon glyphicon-shopping-cart"></i>
            Mon panier
        </a>
    </li-->
	<li role="separator" class="divider"></li>
    <li>
        <a href="#/profil/myPage">
            <i class="glyphicon glyphicon-user"> </i>
            Ma page
        </a>
    </li>
</ul>


<!-- Visitor section -->
<ul class="nav nav-sidebar">
    <li>
        <a href="#/contactUs" >
            <i class="glyphicon glyphicon-envelope"></i>
            Nous contacter
        </a>
    </li>
	<li role="separator" class="divider"></li>
</ul>
