<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p>Mise en vente par <a href="" ng-click="goToSellerPage()">{{photo.sellerLogin}}</a></p>
    </div>
    <div class="panel-body">
      <a href="" class="thumbnail">
        <img class="img-responsive" ng-src="{{photo.webLocation}}" alt="{{photo.name}}">
      </a>
      <span ng-repeat="tag in photo.tags"><span class="label label-primary">{{tag.name}}</span> </span>
        <div data-ng-if="loaded">
          <div class="btn btn-default">
            <add-to-cart-component photo="photo"></add-to-cart-component>
          </div>
        </div>
      <button class="btn btn-default" ng-show="!photo.wishlisted" ng-click="wish(photo.photoID)">
        <span class="glyphicon glyphicon-star"></span>Rajouter aux favories
      </button>
      <button class="btn btn-danger" ng-show="photo.wishlisted" ng-click="unwish(photo.photoID)">
        <span class="glyphicon glyphicon-star"></span>Enlever des favories
      </button>
      <button class="btn btn-default" ng-show="!photo.flagged" ng-click="flag(photo.photoID)">
        <span class="glyphicon glyphicon-flag"></span>Signaler
      </button>
    </div>
  </div>
</div>
