<div class="row">
    <div class="col-lg-10">
        <a href=""  class="thumbnail">
            <p>{{photo.description}}</p>
            <img ng-src="{{photo.webLocation}}" alt="{{photo.name}}" >
        </a>
    </div>

    <div class="col-lg-2">
        <add-to-cart-component photo="photo"></add-to-cart-component>
        <button class="btn  btn-default" ng-click="wish(photo.photoId)">
          <span class="glyphicon glyphicon-pencil"></span>Rajouter au favories
        </button>
    </div>
</div>
