<div class="ecom-margin-bottom" data-ng-class="{'btn btn-default' : isButton }" data-ng-click="clicked()">
    <div data-ng-if="!owned" >
        <div data-ng-if="!photo.isBought">

            <div class="floatLeft marginRight5px">
                <i class="fa fa-euro" title="Prix">{{photo.price}}</i>
            </div>

            <div data-ng-if="!alreadyInCart" class="cursorPointer floatLeft">
                <i class="fa fa-cart-plus brightOnHover"  title="Ajouter au panier"></i>
            </div>

            <div data-ng-if="alreadyInCart" class=" cursorPointer floatLeft">
                <i class="fa fa-shopping-cart greenIcon brightOnHover"  title="Enlever du panier"></i>
            </div>
        </div>
        <div data-ng-if="photo.isBought">
                <i class="fa fa-check greenIcon" title="Déjà achetée"></i>
        </div>
    </div>
</div>
<div data-ng-if="owned" class="cursorPointer">
    <i class="fa fa fa-user" title="Je suis propriétaire"></i>
</div>
