<div ng-if="!alreadyInCart">
    <button type="button" class="btn btn-success btn-sm" ng-click="clickAdd(photo)" alt="Ajouter au panier">
        <i class="fa fa-cart-plus"></i>
    </button>
</div>

<div ng-if="alreadyInCart">
    <button type="button" class="btn btn-success btn-sm" ng-click="clickRemove(photo)"  alt="Enlever du panier">
        <span class="fa-stack">
            <i class="fa fa-shopping-cart fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-2x text-danger"></i>
        </span>
    </button>
</div>
