<div data-ng-controller="MemDetailsController">


<h1>Compte {{AccountType}}</h1>


<!-- <form class="css-form" name="editform" novalidate  ng-submit="save()"> -->

	<h2> Mes infos:  
		<button class="btn btn-default" ng-show="!edit && !editPSW && !addRIB" ng-click="edit=true">
	          <span class="glyphicon glyphicon-star"></span>Modifier
	  	</button>
	  	<button class="btn btn-default" ng-show="!edit && !editPSW && !addRIB" ng-click="editPSW=true;">
	          <span class="glyphicon glyphicon-star"></span>Modifier mot de passe
	  	</button>
	  	
	  	<button class="btn btn-default" ng-show="!edit && !editPSW && !compteVendeur && !addRIB" ng-click="addRIB=true;">
	          <span class="glyphicon glyphicon-star"></span>Devenir vendeur
	  	</button>
	</h2>

  
<form class="form-horizontal ng-valid ng-dirty ng-valid-parse" style="" name="myForm">

  <div class="form-group">
    <label class="col-sm-2 control-label">ID Membre</label>
    <div class="col-sm-10" ng-show="!edit">
    <label class="col-sm-2 control-label">{{user1.memberID}}</label>
    </div>
    <div class="col-sm-10" ng-show="edit">
    <input type="text" data-ng-model="user1.memberID" data-ng-disabled="edit" placeholder="ID Membre">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Pr&eacute;nom:</label>
    <div class="col-sm-10" ng-show="!edit">
    <label class="col-sm-2 control-label">{{user1.firstName}}</label>
    </div>
    <div class="col-sm-10" ng-show="edit">
    <input type="text" data-ng-model="user1.firstName" placeholder="Pr&eacute;nom">
    </div>
  </div> 
  <div class="form-group">
    <label class="col-sm-2 control-label">Nom:</label>
    <div class="col-sm-10" ng-show="!edit">
    <label class="col-sm-2 control-label">{{user1.lastName}}</label>
    </div>
    <div class="col-sm-10" ng-show="edit">
    <input type="text" data-ng-model="user1.lastName" placeholder="Nom">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Address mail:</label>
    <div class="col-sm-10" ng-show="!edit">
    <label class="col-sm-2 control-label">{{user1.email}}</label>
    </div>
    <div class="col-sm-10" ng-show="edit">
    <input type="text" data-ng-model="user1.email" placeholder="Address mail">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Pseudo:</label>
     <div class="col-sm-10" ng-show="!edit">
    <label class="col-sm-2 control-label">{{user1.login}}</label>
    </div>
    <div class="col-sm-10" ng-show="edit">
    <input type="text" data-ng-model="user1.login" placeholder="Pseudo">
    </div>
  </div>
  
  <div class="form-group" ng-show="addRIB || compteVendeur">
    <label class="col-sm-2 control-label">RIB:</label>
     <div class="col-sm-10" ng-show="!edit && !addRIB">
    <label class="col-sm-2 control-label">{{user1.sellerInfo.rib}}</label>
    </div>
    <div class="col-sm-10" ng-show="edit || addRIB">
    <input type="text" data-ng-model="user1.sellerInfo.rib" placeholder="RIB">
    </div>
  </div>
  
  <div ng-show="editPSW">
  <div class="form-group">
    <label class="col-sm-2 control-label reqField">Actuel mot de passe:</label>
    <div class="col-sm-10" >
    <input type="password" data-ng-model="user1.pswActuel" placeholder="Actuel" name="pswActuel" required>
    </div>
    <div class="col-sm-12 col-md-6" ng-messages="myForm.pswActuel.$error" role="alert" ng-show="myForm.pswActuel.$touched">
	    <div ng-message="required">Le champ doit &ecirc;tre rempli</div>
	</div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label reqField">Nouveau mot de passe:</label>
    <div class="col-sm-10">
    <input type="password" data-ng-model="user1.pswNouveau" placeholder="Nouveau" required>
   </div>
    </div>
    <div class="form-group">
    <label class="col-sm-2 control-label reqField">Confirmer:</label>
    <div class="col-sm-10">
    <input type="password" data-ng-model="user1.pswConfirmation" name="pswConfirmation" placeholder="Confirmer" required>
      <div ng-messages="myForm.pswConfirmation.$error" role="alert" ng-show="myForm.pswConfirmation.$touched">
	    <div ng-message="whatever">They are not the same</div>
	  </div>
    </div>
    
  </div>
  
  
  </div>
	
</form>

  <div ng-show="edit || editPSW || addRIB">
	  <button class="btn btn-default" ng-disabled="editPSW && (!equalsPSW || !actPSWfilled)" ng-click="save()">
	          <span class="glyphicon glyphicon-ok"></span>Sauvegarder
	  </button>
	  <button class="btn btn-default btn-danger" ng-click="cancel()">
	          <span class="glyphicon glyphicon-remove"></span>Annuler
	  </button>
  </div>

  
</div>