.highlighted {
	background-color: rgb(250, 255, 189);
}

.posAbs {
	position: absolute;
}

.fullHeightWidth {
	width: 100%;
	height: 100%;
}

.redSignalIcon {
    opacity:0.8;
}

.redSignalIcon:hover {
    color: red;
}

.brightOnHover {
    opacity:0.8;
}

.brightOnHover:hover {
    opacity:1;
}

.greenIcon {
    color: lawngreen;
}

.uploadGreen {
	background-color: #00C176;
}

.cartIconHeader:hover {
    color: lawngreen;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}

.myCaption {
	background: #CCC;
	opacity:0.6;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.2);
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
}


.caption {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
       -moz-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
         -o-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;
}

.caption:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 1;
}


.caption .BGField{
    background:rgba(0, 0, 0, 0.5);
}

.caption p{
    margin:0;
}

.headerCaption {
  width: 100%;
  position: absolute;
  padding: 9px 9px 2px 9px;
  margin: -9px -9px -0px -9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

.footerCaption {
  position: absolute;
  width: 100%;
  padding: 2px 9px 9px 9px;
  margin: -9px -9px -0px -9px;
  bottom: 0;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.centerCaption {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: inherit;
  margin: -9px;
  z-index:-10;
  /*top: 25%;*/
}

.textAlignRight {
    text-align:right;
}

.textAlignCenter {
    text-align:center;
}

.floatLeft {
    float:left;
}

.floatRight {
    float:right;
}

.colorYellow {
    color:yellow;
}

.colorRed {
    color:red;
}


.colorPink {
	color:#FF0080;
}
.colorBlack {
  color:black;
}

.colorBlue {
    color:rgb(0, 140, 255);
}

.borderRight {
    border-right: 1px solid;
}

.marginRight5px {
    margin-right: 5px;
}

.cursorPointer {
  cursor: pointer;
}

.reqField:after{
	/*position:absolute;*/
    content:'*';
    color:red;
    right:-10px;
    top:0;
}

.vertical-divider-left {
    overflow: hidden;
    border-left: 1px solid #ccc;
}

#ecom-margin-bottom {
    margin-bottom: 7px;
}

.bs-callout-warning h4 {
    color: #AA6708;
}

.bs-callout-info {
    border-left-color: #1B809E;
}

.img-container {
    position:relative;
    padding-top:66.59%;
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
}

.padding-4pc {
    padding: 4% 4% 4% 0%;
}

.bs-callout-info {
    border-left-color: #1B809E;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0px;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #EEE;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px;
}

.sellerLoginFollowed{
    font-size:40px;
}

#searchnavbar {
    /*position: absolute;*/
    right: 25%;
    left: 25%;
}
.overflowHidden{
    overflow: hidden !important;
}

@media (min-width: 768px) {
    #searchnavbar {
        position: absolute;
    }
}

.inlineFlex{
    display: inline-flex;
}


/* Sidebar styles */

.sidebar-nav li a.activeTab {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
}

#sideBarTemplContainer.collapse:not(.in) + #page-content-wrapper {
    margin-left: -65px;
}

.magrinLeftSideBar {
    margin-left: -235px;
}

@media (min-width: 768px){
    /*#sideBarTemplContainer.collapse {
        display: block !important;
    }*/

    #sideBarTemplContainer.collapse:not(.in) + #page-content-wrapper {
        margin-left: -265px;
    }
}




/* ------------------ BOOTSTRAP CSS THEME OVERWRITE TO FIT OUR SITE ------------------ */


.navbar {
    margin-bottom: 15px;
}

.alert {
    padding: 7px;
}

.ngViewsContainer{
    padding-top: 45px;
}

.alertContainer{
    position: absolute;
    z-index: 10;
    left: 15px;
    right: 0px;
}

.navbar-toggle{
    margin-left: 5px;
    margin-right: 5px;
}

@media (min-width: 768px) {
    .navbar-toggle.sidebar-toggle {
        display: block;
    }
}
