.posAbs {
	position: absolute;
}

.fullHeightWidth {
	width: 100%;
	height: 100%;
}

.redSignalIcon {
	color: red;
	opacity:0.6;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}

.myCaption {
	background: #CCC;
	opacity:0.6;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0, 0, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
}


.caption {   
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
       -moz-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
         -o-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;
}

.caption:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 1;
}

.headerCaption {
  width: 100%;
  top: 0;
}

.footerCaption {
  position: absolute;
  width: 100%;
  padding: inherit;
  margin: -9px;
  bottom: 0;
}

.centerCaption {
  position: absolute;
  width: 100%;
  padding: inherit;
  margin: -9px;
  top: 50%;
}

.textAlignRight {
    text-align:right;
}

.textAlignCenter {
    text-align:center;
}

.floatLeft {
    float:left;
}

.floatRight {
    float:right;
}

.colorYellow {
    color:yellow;
}

.colorBlue {
    color:blue;
}

.borderRight {
    border-right: 1px solid;
}

.cursorPointer {
  cursor: pointer;
}

.reqField:after{
	position:absolute;
    content:'*';
    color:red;
    right:-10px;
    top:0;
}

#ecom-margin-bottom {
    margin-bottom: 7px;
}