<div data-ng-controller="uploadPhoto">
    <h3>Charger une photo</h3>
    <form class="css-form" name="upload" novalidate >
        <div class="form-group">
            <label class="control-label">Choisir un fichier</label>
            <input id="input-1" type="file" class="file" name="photo" ecom-input-file="uploadPhoto">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input required ng-model="photoData.description" type="text" class="form-control" name="description" id="description" placeholder="description">
            <div class="alert-danger" ng-messages="upload.description.$error" role="alert" ng-show="upload.description.$touched">
				<div ng-messages-include="error-messages"></div>
			</div>
        </div>
        <div class="form-group">
            <label >Mots-clés</label>
                <tags-input ng-model="inputTags" display-property="name" add-on-paste="true">
                    <auto-complete min-length="1" source="load($query)"></auto-complete>
                </tags-input>
        </div>
        <div class="form-group">
            <label for="price">Prix</label>
            <input required ng-model="photoData.price" type="number"
            min="0.01" max="999.99" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
            class="form-control" name="price" id="price" placeholder="prix de la photo" data-required>
        </div>
        <button type="submit" class="btn btn-default" data-ng-click="upload.$valid && submit('addPhoto')" >Valider et Rajouter</button>

        <button type="submit" class="btn btn-default" data-ng-click="upload.$valid && submit('managePhotos')" >Valider et Terminer</button>
    </form>
</div>
