   <div data-ng-controller="administratorController">
 
 	 <h2>Photos</h2>
 	 
	 <table class="table">
	    <thead>
	      <tr>
	        <th>Number of stored pictures</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>{{photoCount}}</td>
	      </tr>
	    </tbody>
	  </table>
 	 
 	 <h2>Orders</h2>
 	 <table class="table">
	    <thead>
	      <tr>
	        <th>Number of purchases</th>
	        <th>Total price</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>{{purchaseCount}}</td>
	        <td>{{totalPurchaseCost}}</td>
	      </tr>
	    </tbody>
	  </table>
 	 
 	  <h2>Members</h2>
 	 <table class="table">
	    <thead>
	      <tr>
	        <th>Total number of members</th>
	        <th>Number of sellers</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>{{memberCount}}</td>
	        <td>{{sellerCount}}</td>
	      </tr>
	    </tbody>
	  </table>
 	
			
 </div>
  