<div data-ng-controller="managePhotos">

<h3>Manage photos ({{ photos.length }})</h3>

<table class="table">
  <tbody>
    <tr ng-repeat-start="photo in photos track by $index" data-ng-class="{'bg-info': $index == highlight }">
      <td rowspan="5" class="col-md-2">
        <img width="128" ng-src="{{ photo.thumbnail }}" alt="{{ photo.name }}">
      </td>
      <td class="col-md-2">Nom : </td>
      <td ng-if="editIndex != $index"><strong>{{ photo.name | limitTo : 25 }}</strong></td>
      <td ng-if="editIndex == $index">
        <input required ng-model="form.name" ng-change="test()" class="form-control"
         type="text" ng-disabled="processing" ng-maxlength="50" focus-on-load>
      </td>
    </tr>
    <tr data-ng-class="{'bg-info': $index == highlight }">
      <td class="col-md-2">Description : </td>
      <td ng-if="editIndex == $index">
        <textarea required class="form-control" ng-model="form.description"
         ng-change="test()" ng-disabled="processing" ng-maxlength="250"></textarea>
       </td>
       <td ng-if="editIndex != $index">
        <span>{{ photo.description }}</span>
      </td>
    </tr>
    <tr data-ng-class="{'bg-info': $index == highlight }">
      <td class="col-md-2">Mots-clés : </td>
      <td ng-if="editIndex != $index">
        <span ng-repeat="tag in photo.tags.split(' ') track by $index"><span class="label label-primary">{{tag}}</span> </span>
      </td>
      <td ng-if="editIndex == $index">
        <input required ng-model="form.tags" ng-change="test()" class="form-control"
        type="text" ng-disabled="processing">
        <span ng-repeat="tag in form.tags.split(' ') track by $index"><span class="label label-primary">{{tag}}</span> </span>
      </td>
    </tr>
    <tr data-ng-class="{'bg-info': $index == highlight }">
      <td class="col-md-2">Prix : </td>
      <td ng-if="editIndex != $index">{{ photo.price | currency:"&euro;" }}</td>
      <td ng-if="editIndex == $index">
        <input required ng-model="form.price" ng-change="test()" class="form-control"
        type="number" min="0.01" max="999.99" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
        ng-disabled="processing" >
      </td>
    </tr>
    <tr ng-repeat-end data-ng-class="{'bg-info': $index == highlight }">
      <td></td>
      <td>
        <button ng-if="editIndex != $index" class="btn  btn-default" ng-click="edit($index)" ng-disabled="processing">
          <span class="glyphicon glyphicon-pencil"></span> Edit
        </button>
        <button ng-if="editIndex == $index" class="btn  btn-success" ng-click="save($index)" ng-disabled="!valid">
          <span class="glyphicon glyphicon-save"></span> Save
        </button>
        <button ng-if="editIndex != $index" class="btn btn-danger" ng-click="remove($index)"
        ng-disabled="processing">
          <span class="glyphicon glyphicon-remove"></span> Delete
        </button>
        <button ng-if="editIndex == $index" class="btn btn  btn-default" ng-click="cancel()" ng-disabled="processing">
          <span class="glyphicon glyphicon-cancel"></span> Cancel
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>
