<div>
  <div data-ng-if="!photoCount" class="jumbotron">
    <h1>Bonjour !</h1>
    <p>Vous n'avez aucune photo dans votre magasin ! </p>
    <form class="css-form" name="loginform" novalidate ng-submit="loginform.$valid && submit()">
      <button type="submit" class="btn btn-primary btn-lg">Uploader une photo</button>
    </form>
  </div>

<h3 ng-if="query && photoCount">
  La recherche a retourné <strong>{{ photos.length }}</strong> photo(s) !
</h3>
<h3 ng-if="!query && photoCount">
  Vous avez <strong>{{ photos.length }}</strong> photo(s) dans votre magasin !
</h3>

<table class="table">
  <tbody>
    <tr ng-repeat-start="photo in photos track by $index" data-ng-class="{'bg-info': $index == highlight }">
      <td rowspan="4" class="col-md-2">
        <img width="128" ng-click="goToPhoto(photo.photoID)" ng-src="{{ photo.thumbnail }}" alt="{{ photo.name }}" cursorPointer>
        <br>
        <h4>
          <span class="fa fa-eye" title="Nombre de vues">{{photo.views}}</span>
          <span class="fa fa-thumbs-o-up" title="Nombre de likes">{{photo.likes}}</span>
          <span class="fa fa-heart-o" title="Nombre de wishes">{{photo.wishes}}</span>
        </h4>
      </td>
      <td class="col-md-2">Nom</td>
      <td ng-if="editIndex != $index">
        <strong><span ng-bind-html="photo.name | highlight:query"></span></strong>
      </td>
      <td ng-if="editIndex == $index">
        <input required ng-model="form.name" ng-change="test()" class="form-control"
         type="text" ng-disabled="processing" ng-maxlength="50" focus-on-load>
      </td>
      <td>
        <button ng-if="editIndex != $index" class="btn  btn-default" ng-click="edit($index)" ng-disabled="processing">
          <span class="glyphicon glyphicon-pencil"></span> Modifier
        </button>
        <button ng-if="editIndex == $index" class="btn  btn-success" ng-click="save($index)" ng-disabled="!valid">
          <span class="glyphicon glyphicon-save"></span> Enregistrer
        </button>
        <button ng-if="editIndex != $index" class="btn btn-danger" ng-click="remove($index)"
        ng-disabled="processing">
          <span class="glyphicon glyphicon-remove"></span> Supprimer
        </button>
        <button ng-if="editIndex == $index" class="btn btn  btn-default" ng-click="cancel()" ng-disabled="processing">
          <span class="glyphicon glyphicon-cancel"></span> Annuler
        </button>
      </td>
    </tr>
    <tr data-ng-class="{'bg-info': $index == highlight }">
      <td class="col-md-2">Description</td>
      <td>
        <textarea required ng-if="editIndex == $index" class="form-control"
         ng-model="form.description" ng-change="test()" ng-disabled="processing" ng-maxlength="250"></textarea>
        <span ng-if="editIndex != $index" ng-bind-html="photo.description | highlight:query"></span>
      </td>
      <td></td>
    </tr>
    <tr data-ng-class="{'bg-info': $index == highlight }">
      <td class="col-md-2">Mots-clés</td>
      <td ng-if="editIndex != $index">
        <h5>
          <span ng-repeat="tag in photo.tags.split(' ') track by $index"><span class="label label-primary">{{tag}}</span> </span>
        </h5>
      </td>
      <td ng-if="editIndex == $index">
        <tags-input on-tag-removing="test()" on-tag-added="test()" ng-model="form.tags" display-property="name" add-on-paste="true">
          <auto-complete min-length="1" source="load($query)"></auto-complete>
        </tags-input>
      </td>
      <td></td>
    </tr>
    <tr ng-repeat-end data-ng-class="{'bg-info': $index == highlight }">
      <td class="col-md-2">Prix <span ng-if="editIndex == $index">(entre 0.5€ et 999.9€)</span></td>
      <td ng-if="editIndex != $index">{{ photo.price | currency:"&euro;" }}</td>
      <td ng-if="editIndex == $index">
        <input required ng-model="form.price" ng-change="test()" class="form-control"
        type="number" min="0.01" max="999.99" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-disabled="processing" >
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
