<div data-ng-controller="managePhotos">

<h3 ng-show="query">
  La recherche a retourné <strong>{{ photos.length }}</strong> photo(s) !
</h3>
<h3 ng-show="!query">
  Vous avez <strong>{{ photos.length }}</strong> photo(s) dans votre magasin !
</h3>

<table class="table">
  <tbody>
    <tr ng-repeat="photo in photos track by $index" data-ng-class="{'bg-info': $index == highlight }">
      <td>
        <img width="128" ng-src="{{ photo.webLocation }}" alt="{{ photo.name }}">
      </td>
      <td ng-if="editIndex != $index">
        <strong><span ng-bind-html="photo.name | highlight:query"></span></strong>
      </td>
      <td ng-if="editIndex == $index">
        <input required ng-model="form.name" ng-change="test()" class="form-control"
         type="text" ng-disabled="processing" ng-maxlength="50" focus-on-load>
      </td>
      <td>
        <textarea required ng-if="editIndex == $index" class="form-control"
         ng-model="form.description" ng-change="test()" ng-disabled="processing" ng-maxlength="250"></textarea>
        <span ng-if="editIndex != $index" ng-bind-html="photo.description | highlight:query"></span>
      </td>
      <td ng-if="editIndex != $index">{{ photo.price | currency:"&euro;" }}</td>
      <td ng-if="editIndex == $index">
        <input required ng-model="form.price" ng-change="test()" class="form-control"
        type="number" min="0.01" max="999.99" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-disabled="processing" >
      </td>
      <td>
        <button ng-if="editIndex != $index" class="btn  btn-default" ng-click="edit($index)" ng-disabled="processing">
          <span class="glyphicon glyphicon-pencil"></span> Edit
        </button>
        <button ng-if="editIndex == $index" class="btn  btn-success" ng-click="save($index)" ng-disabled="!valid">
          <span class="glyphicon glyphicon-save"></span> Save
        </button>
        <button ng-if="editIndex != $index" class="btn btn-danger" ng-click="remove($index)"
        ng-disabled="processing">
          <span class="glyphicon glyphicon-remove"></span> Delete
        </button>
        <button ng-if="editIndex == $index" class="btn btn  btn-default" ng-click="cancel()" ng-disabled="processing">
          <span class="glyphicon glyphicon-cancel"></span> Cancel
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>
