<ul class="nav">
    <li>
        <a href="" data-ng-click="setView('addPhoto')">
            <i class="glyphicon glyphicon-plus"> </i>
            Ajouter une photo
        </a>
    </li>
    <li>
        <a href="" data-ng-click="setView('managePhotos')">
            <i class="glyphicon glyphicon-picture"> </i>
            Mes photos
        </a>
    </li>
    <li>
        <a href="" data-ng-click="setView('myPage')">
            <i class="glyphicon glyphicon-user"></i>
            Ma page
        </a>
    </li>
</ul>
