<div data-ng-controller="memMgmtController">

    <h3>Gérer les membres : ({{ users.length }})</h3>

    <table class="table">
        <thead>
        <tr>
            <th>ID Membre</th>
            <th>Type de compte</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Pseudo</th>
            <th>RIB</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="user in users track by $index">
            <td>{{ user.memberID }}</td>
            <td>{{ user.accountType }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.login }}</td>
            <td>{{ user.sellerInfo.rib }}</td>
            <td>

                <button data-ng-if="!user.active" class="btn  btn-default" data-ng-disabled="true">Edit</button>
                <button data-ng-if="user.active" class="btn btn-default" data-ng-click="editUser($index)">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
            </td>
            <td>

                <button data-ng-if="!user.active" class="btn  btn-default" data-ng-disabled="true">Compte inactif
                </button>
                <button data-ng-if="user.active" class="btn btn-danger btn-default" data-ng-click="deleteUser($index)">
                    <span class="glyphicon glyphicon-remove"></span>Delete

                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <hr>
    <button class="btn btn-success btn-default" data-ng-click="editUser('new')">
        <span class="glyphicon glyphicon-user"></span> Créer nouveau membre
    </button>
    <hr>

    <h3 data-ng-show="!edit">Créer un nouveau membre:</h3>
    <h3 data-ng-hide="!edit">Modifier le membre:</h3>

    <form class="form-horizontal" name="creationForm">
        <div class="form-group" data-ng-show="edit">
            <label class="col-sm-2 control-label">ID Membre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="inEditMember.memberID" data-ng-disabled="edit"
                       placeholder="Member ID">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label reqField">Type de compte:</label>
            <div class="col-sm-10">
                <select name="singleSelect" id="singleSelect" data-ng-model="data.singleSelect" data-ng-change="reset()"
                        focus-on-load>
                    <option value="M">Membre</option> <!-- not selected / blank option -->
                    <option value="S">Vendeur</option> <!-- interpolation -->
                </select>
            </div>
        </div>
        <div class="form-group" data-ng-show="sellerSelected">
            <label class="col-sm-2 control-label reqField">RIB:</label>
            <div class="col-sm-10">
                <input type="text" name="rib" class="form-control" data-ng-model="inEditMember.sellerInfo.rib"
                       placeholder="RIB">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label reqField">Prénom:</label>
            <div class="col-sm-10">
                <input required type="text" class="form-control" name="firstName" data-ng-model="inEditMember.firstName"
                       placeholder="First Name">
                <div class="alert-danger" ng-messages="creationForm.firstName.$error" role="alert"
                     ng-show="creationForm.firstName.$dirty">
                    <div ng-messages-include="error-messages"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label reqField">Nom:</label>
            <div class="col-sm-10">
                <input required type="text" class="form-control" name="lastName" data-ng-model="inEditMember.lastName"
                       placeholder="Last Name">
                <div class="alert-danger" ng-messages="creationForm.lastName.$error" role="alert"
                     ng-show="creationForm.lastName.$dirty">
                    <div ng-messages-include="error-messages"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label reqField">Email:</label>
            <div class="col-sm-10">
                <input required type="email" class="form-control" name="email" data-ng-model="inEditMember.email"
                       placeholder="E-mail address">
                <div class="alert-danger" ng-messages="creationForm.email.$error" role="alert"
                     ng-show="creationForm.email.$dirty">
                    <div ng-messages-include="error-messages"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label reqField">Pseudo:</label>
            <div class="col-sm-10">
                <input required type="text" class="form-control" name="loginInput" data-ng-model="inEditMember.login"
                       placeholder="Login" ng-change="checkLogin()" ng-pattern="/^[a-zA-Z0-9äöüÄÖÜ]*$/">
                <div class="alert-danger" ng-messages="creationForm.loginInput.$error" role="alert"
                     ng-show="creationForm.loginInput.$dirty">
                    <div ng-messages-include="error-messages"></div>
                </div>
                <div class="alert-danger" role="alert" ng-show="existingLogin">Ce pseudo existe déjà</div>
            </div>
        </div>
        <div class="form-group" data-ng-hide="edit">
            <label class="col-sm-2 control-label reqField">Mot de passe:</label>
            <div class="col-sm-10">
                <input required type="password" class="form-control" name="password"
                       data-ng-model="inEditMember.password" placeholder="Password" minlength='5'>
                <div class="alert-danger" ng-messages="creationForm.password.$error" role="alert"
                     ng-show="creationForm.password.$dirty">
                    <div ng-messages-include="error-messages"></div>
                </div>
            </div>
        </div>
    </form>
    <hr>

    <button class="btn btn-default" data-ng-click="save()" ng-disabled="creationForm.$invalid">
        <span class="glyphicon glyphicon-pencil"></span>Sauvegarder
    </button>
</div>
