<div data-ng-controller="reportedPhotosController">

<h3>{{ photos.length }} reported photo(s)</h3>

<table class="table">
  <tbody>
    <tr ng-repeat="photo in photos">
      <td>
        <img width="128" ng-src="{{ photo.webLocation }}" alt="{{ photo.name }}">
      </td>
      <td><strong>{{ photo.name | limitTo : 20 }}</strong></td>
      <td>
        <span>{{ photo.description }}</span>
      </td>
      <td>{{ photo.price | currency:"&euro;" }}</td>
      <td>
        <button class="btn  btn-success" ng-click="validate($index)">
          <span class="glyphicon glyphicon-ok-sign"></span> Validate
        </button>
        <button class="btn btn-danger" ng-click="delete($index)">
          <span class="glyphicon glyphicon-remove"></span> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>
