<div data-ng-controller="reportedPhotosController">

<h3>{{ photos.length }} photo(s) signalée(s)</h3>

<table class="table">
  <tbody>
    <tr ng-repeat="photo in photos">
      <td>
        <a href="" data-ng-click="goto(photo.photoID)">
          <img width="128" data-ng-src="{{ photo.webLocation }}" alt="{{ photo.name }}">
        </a>
      </td>
      <td><strong>{{ photo.name | limitTo : 20 }}</strong></td>
      <td>
        <span>{{ photo.description }}</span>
      </td>
      <td>{{ photo.price | currency:"&euro;" }}</td>
      <td>
        <button class="btn  btn-success" data-ng-click="validate($index)">
          <span class="glyphicon glyphicon-ok-sign"></span> Valider
        </button>
        <button class="btn btn-danger" data-ng-click="delete($index)">
          <span class="glyphicon glyphicon-remove"></span> Supprimer
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>
